
<div style="display: flex; justify-content: center; align-items: flex-start;background-color: #F2F2F2;width: 100%;">
    <div
        style="width: 400px; background-color: white;padding: 1rem; border-bottom: 10px solid #000000;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <hr style="width: 100%; border: 1px solid #F2F2F2"/>
        
        <p style="font-family: Helvetica, sans-serif; margin-top: 0;color: #B3B3B3;padding-top: 16px">Vous avez des questions ? Visitez notre <a href="" style="color:#B3B3B3 ;">centre d'aide</a></p>
    </div>
</div>