<div style="display: flex; justify-content: center; align-items: flex-start;background-color: #F2F2F2;width: 100%;">
    <div
        style="width: 400px; background-color: white;padding: 1rem; border-top: 10px solid #000000;border-top-left-radius: 10px;border-top-right-radius: 10px;">
        <img src="https://giordano-eg.com/wp-content/uploads/2022/01/GIO.png"
            style="width: 150px; height: 30px; filter: brightness(0); margin-bottom: 8px;" alt="logo">
        <h1 style="font-family: Helvetica, sans-serif; margin: 0;">
            <%= template_title %>
        </h1>
    </div>
</div>